/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* List with bullets */
.list-bullets {
    list-style: none;
}

.list-bullets li {
    display: flex;
    align-items: center;
}

.list-bullets li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5784d7;
    border: 2px solid #8fb3f5;
    display: block;
    margin-right: 1rem;
}

/* Unordered list with custom numbers style */
ol.custom-numbers {
    list-style: none;
}

h1, h3, p{
    color: rgb(247,247,247);
}



ol.custom-numbers li {
    counter-increment: my-awesome-counter;
    color: rgba(255, 255, 255, 0.643);
}

ol.custom-numbers li::before {
    content: counter(my-awesome-counter) ". ";
    color: #2b90d9;
    font-weight: bold;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    /*background: rgb(35,87,197);*/
    /*background: linear-gradient(0deg, rgba(35,87,197,1) 0%, rgba(35,159,197,1) 27%);*/
    /*background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(203,203,203,1) 62%);*/

    background: linear-gradient(0deg, rgba(78,255,219,1) 0%, rgba(35,87,197,1) 66%);



}
li {
    font-style: italic;
}