<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="0" name="log4j2-config">
    <Appenders>
        <RollingRandomAccessFile name="RFILE"
                                 fileName="${sys:catalina.base}/webapps/my-logs/bitsei.log"
                                 filePattern="${sys:catalina.base}/webapps/my-logs/$${date:yyyy-MM}/bitsei-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%date{DEFAULT} %level [%thread] %class{1}.%method(%file:%line)%n\tIP = %MDC{IP}; USER =
                    %MDC{USER}; ACTION = %MDC{ACTION}; RESOURCE = %MDC{RESOURCE}%n\t%message%n\t%throwable%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%date{DEFAULT} %level [%thread] %class{1}.%method(%file:%line)%n\tIP = %MDC{IP}; USER =
                    %MDC{USER}; ACTION = %MDC{ACTION}; RESOURCE = %MDC{RESOURCE}%n\t%message%n\t%throwable%n
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="RFILE" level="INFO"/>
            <AppenderRef ref="STDOUT" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>